@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus, textarea:-webkit-autofill,*/
/*textarea:-webkit-autofill:hover,*/
/*textarea:-webkit-autofill:focus,select:-webkit-autofill,*/
/*select:-webkit-autofill:hover,*/
/*select:-webkit-autofill:focus {*/
/*    -webkit-text-fill-color: white;*/
/*    -webkit-box-shadow: 0 0 0px 1000px #253341 inset;*/
/*    box-shadow: 0 0 0px 1000px beige inset;*/
/*    transition: background-color 5000s ease-in-out 0s;*/
/*    color: white;*/
/*}*/

button[disabled]:hover {
    cursor: not-allowed;
    color: red;
}

.card-zoom-image {
    @apply absolute transition-all duration-500 ease-in-out transform  ;
}

.system-animation {
    @apply
    transition ease-in-out duration-300 focus:outline-none
    hover:scale-105 focus:scale-105;
    transition-delay: 50ms;  /* if using just "delay-50" then will be an error here */
}

.system-shadow {
    @apply
    shadow-sm focus:shadow-md
    shadow-light-second dark:shadow-dark-second
    focus:shadow-light-focusing focus:dark:shadow-dark-focusing;
}

.system-field {
    @apply
    border-light-second dark:border-dark-second
    bg-light-field dark:bg-dark-field
    focus:border-light-focusing dark:focus:border-dark-focusing
    focus:text-light-focusing dark:focus:text-dark-focusing;
}

.input-classic {
    @apply
    appearance-none leading-tight border-2 rounded
    system-shadow system-animation system-field;
}

.select-classic {
    @apply
    appearance-none leading-tight border-2 rounded cursor-pointer
    system-shadow system-animation system-field;
}

.btn-usual-link {
    @apply
    appearance-none leading-tight
    hover:underline
    hover:text-light-focusing dark:hover:text-dark-focusing
    focus:text-light-focusing dark:focus:text-dark-focusing
}

.btn-classic {
    @apply
    appearance-none leading-tight
    hover:-translate-y-1
    hover:text-light-focusing dark:hover:text-dark-focusing
    focus:text-light-focusing dark:focus:text-dark-focusing
    system-animation;
}

.btn-classic-frame {
    @apply
    appearance-none leading-tight border-2 rounded shadow
    hover:-translate-y-1
    bg-light-field dark:bg-dark-field
    hover:text-light-focusing dark:hover:text-dark-focusing
    hover:border-light-focusing dark:hover:border-dark-focusing
    hover:shadow-light-focusing hover:dark:shadow-dark-focusing
    system-animation system-field;
}

.checkbox-classic {
    @apply p-1
    appearance-none leading-tight border-2 rounded bg-clip-content cursor-pointer
    checked:bg-light-second dark:checked:bg-dark-second
    hover:checked:bg-light-focusing hover:dark:checked:bg-dark-focusing
    hover:border-light-focusing hover:dark:border-dark-focusing
    system-animation system-field;
}

.module-classic {
    @apply p-3
    flex items-center
    appearance-none leading-tight border-2 rounded cursor-pointer
    hover:shadow-light-focusing hover:dark:shadow-dark-focusing
    hover:border-light-focusing hover:dark:border-dark-focusing
    system-shadow system-animation system-field;
}